# data files
data/
text/

# python environment
fyp-dev/
.ipynb_checkpoints
.DS_Store
.gitattribute 

# for presentation
pic/
Final Presentation.pdf
final_report.pdf
Interim Report.pdf

# reference
reference.ipynb
data_helper.py